@import "reset";

$bloo: #43B6D0;

body{
  font-size: 20px;
  line-height: 21px;
  background: lighten($bloo, 35%);
}

a {
  color: #800000;
}

    .pure-menu-horizontal{
    text-align: center;
  }

    .pure-grid{
    font-family: "Oswald";
}
// NAV

    .nav li {
    border-bottom: 3px solid #333;
}

    .home li.home{
    border-color: blue;
}

    .performances li.performances{
    border-color: blue;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

ul{
    font-family: "Oswald";
}

%pootis {
    border-radius: 10px;
    width: 500px;
}

p{
    font-family: "Roboto";
}

    .pure-menu-heading{
    font-family: "Oswald";
}

.hero{
    color: white;
    font-family: "Oswald";
    background: url(/img/btb011.jpg);
    background-position: center;
    width: 100%;
    height: 417px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 20px;
    font-size: 50px;
    @include border-radius(10px);
    transition: all 500ms linear;
}


.about{
    padding-top: 75px;
    position: relative;
    width: 100%;
    margin: 0 auto;
        p{
      width: 750px;
      margin: 0 auto;
        }
        .isa{
        font-family: "Oswald";
        text-align: center;
        }
        .headshot {
        @extend %pootis;
        margin-bottom: 15px;
        }
        .imagedos{
        @extend %pootis;
        margin-top: 15px;
        }
        .headshot, .imagedos{
          display: block;
    margin-left: auto;
    margin-right: auto }
}

.hero:hover{
font-size: 60px;
}

footer{
    background: gray;
    bottom: 0;
    height: 60px;
    width: 100%;
        p{
            font-family: "Oswald";
        }
}

.phist{
        h2{
    font-family: "Oswald";
    letter-spacing: 10px;
    color: gray;
    }
        .phisttitle{
                color: white;
              font-family: "Oswald";
              background: url(/img/newbtb.jpg);
              text-align: center;
              background-position: center;
              width: 100%;
              height: 300px;
              background-repeat: no-repeat;
              text-align: center;
              padding-top: 150px;
              letter-spacing: 20px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              border-radius: 10px;
             }
}
.container{
    line-height: 2em;
    span{
        font-size: 20px;
        font-family: "Roboto";
    }
    h3{
        font-family: "Oswald";
        font-size: 30px;
    }
}

.phist{
  margin: 0 auto;
  display: block; 
  text-align: center;
}
@media screen and (max-width:500px){

  .wrap{
    background-size: 300px;
    background-color: white;
    background-repeat: no-repeat;
  }
  .hero{
    color: white;
    text-align: center;
    font-family: "Oswald";
    background: url(/img/btb011.jpg);
    height: 250px;
    padding-top: 100px;
    width: 100%;
    background-size: 100% 100%;
    letter-spacing: 5px;
    font-size: 20px;
  }
  .hero:hover{
    font-size: 25px;
  }

  h2 {
  border-bottom: 1px solid #999;
  padding-bottom: .5em;
}

    p {
      font-family: "Roboto";
    }

    footer{
        background-color: gray;
        border-radius: 10px;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        .copy{
        font-family: "Oswald";
        }
    }

    ul{
        position: absolute;
        right: 0;
    }
    .about{
        text-align: center;
        margin-top: 50px;
    }
    .aboutcont{
        p{
            width: 100%;
        }
        .headshot, .imagedos{
            display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;}
    }
    .phist{
        h2{
            font-size: 20px;
        }
        h3{
            font-size: 25px;
        }
        span{
            font-size: 15px;
        }
        .phisttitle{
            letter-spacing: 8px;
            border-bottom: none;
        }
    }
}